.content_5050 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vh;
  flex-wrap: wrap;
  width: 100%;
}

.block_half{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  padding: 3vh 5vh 3vh 5vh;

  @media screen and (max-width: 900px) {
    width: 100%;
    margin-bottom: 2vh;
  } 
}

.half_title {
  margin-top: -2vh;
}

.half_list {
  margin-top: -2vh;
}


