.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 488px;
  width: 100%;
  margin-bottom: 5vh;

  @media screen and (max-width: 1200px) {
    height: 100%;
  }

}

.image {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.content {
  min-width: 350px;
  width: 50%;
  padding: 8vh 12vh 8vh 12vh;

  @media screen and (max-width: 900px) {
    width: 100%;
    padding: 8vh;
  }
}

.roles {
  margin-top: -3.5vh;
  font-size: var( --font-md);
}