.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 5vh;
  white-space: pre-wrap;
}

.intro_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 950px;
}

.intro_left{
  display: flex;
  flex-direction: column;
  max-width: 650px;
  padding-right: 4vw;
  margin-bottom: 3vh;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.intro_right{
  width: 300px;
  margin-top: 4vh;

  @media screen and (max-width: 1200px) {
    width: 75%; 
    margin-top: -1vh;
    
  }
}

.intro_description{
  margin-top: -2vh;
  margin-bottom: 4vh;
}

/* .text-icon_button {
  display: inline-block;
  color:#000000;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: var(--font-sans);
  font-size: 18px;
  width: 200px;
  height: 54px;

  
  background-image: url(curved-arrow.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 155px;
  background-size: 18px;
  padding-right: 30px;
} */