.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2vh;
  white-space: pre-wrap;
}

.block_content {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  max-width: 950px;
}

.content_title {
  margin-top: -2vh;
}

.content_text{
  margin-top: -2vh;
  margin-bottom: 2vh;
}

.content_image {
    padding-bottom: 4vh;
}