.nav-container {
  margin: 0 auto;
  padding: var(--space-4) var(--size-gutter);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-link {
  font-size: var(--font-lg); 
  font-weight: 600;
  text-decoration: none !important;

  @media screen and (max-width: 400px) {
    font-size: var(--font-md); 
  }
}

.secondary-link {
  padding-left: 30px;
  font-size: var(--font-md); 

  @media screen and (max-width: 400px) {
    padding-left: 15px;
    font-size: var(--font-sm); 
  }
}

.nav-right {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}



